<form action="/login/createAccount" method="post">
    <div> 
        <input type="text"  name="username" value="{{username}}"required>
    </div>
    <div>
        <input type="password"  name="password" value="{{password}}"required>
    </div>
    <button>Create Account</button>
</form>