<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Platform</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>

    <nav class="nav-bar">
        <ul> 
            <li> <a href="/">Start</a> </li>
            <li> <a href="/venues">Venues</a> </li>
            {{#if session.isLoggedIn}}
            <li>
                <form action="/accounts/log-out" method="post" class="log-out form">
                <button type="submit" class="nav-button">Log out</button>
                </form>
            </li>
            {{else}}
            <li> <a href="/accounts/sign-in">Sign in</a> </li>
            {{/if}}
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
    
</body>
</html>