body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: center;
  }
  .store-list {
    list-style-type: none;
    padding: 0;
  }
  .store-item {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
  }
  .store-item a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  .store-item a:hover {
    color: #555;
  }
  
  .dropdown {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .dropdown-item {
    display: block;
    margin-bottom: 5px;
  }
  
  .district-checkbox {
    margin-right: 5px;
  }
  