<div class="start">
    <h1>JKPGCity</h1>

    <p>VÄLKOMMEN TILL DITT JÖNKÖPING.
        Jkpg City är fyllt av butiker, kultur, upplevelser, caféer och 
        restauranger som ramas in av fantastiska grönområden och vackra sjöar.
    </p>
</div>